html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.container {
  width: 1200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  color: #2196F3;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
}

.logo__header {
  color: black;
}

.logo__footer {
  color: white;
}

.header-sektion {
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}

.header-sektion__nave {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-sektion__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.header-sektion__item:not(:last-child) {
  margin-right: 50px;
}

.header-sektion__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-sektion__link:hover, .header-sektion__link:focus {
  color: #2196F3;
}

.header-sektion__link--active {
  position: relative;
}

.header-sektion__link--active:hover, .header-sektion__link--active:focus, .header-sektion__link--active:active, .header-sektion__link--active:visited {
  color: #2196F3;
}

.header-sektion__link--active::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nave {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contakts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contakts__item:not(:last-child) {
  margin-right: 50px;
}

.contakts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contakts__link:hover, .contakts__link:focus {
  color: #2196F3;
}

.contakts__icon {
  margin-right: 10px;
  fill: #757575;
}

.contakts__link:hover .contakts__icon,
.contakts__link:focus .contakts__icon {
  fill: #2196F3;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__card {
  width: 270px;
}

.advantages__card:not(:last-child) {
  margin-right: 30px;
}

.advantages__emblem {
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}

.advantages__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0px;
  margin-bottom: 0px;
}

.section-work {
  padding-bottom: 94px;
}

.section-work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-work__item {
  width: 370px;
}

.section-work__item:not(:last-child) {
  margin-right: 30px;
}

.section-work__thumb {
  position: relative;
}

.section-work__window {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
}

.section-work__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section-team {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-team__item {
  width: 270px;
}

.section-team__item:not(:last-child) {
  margin-right: 30px;
}

.section-team__content {
  background-color: #FFFFFF;
  padding: 30px 32px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.section-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.section-team__specialty {
  color: #757575;
  font-size: 16px;
  line-height: 1.2;
}

.icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.icon-list__item:not(:last-child) {
  margin-right: 10px;
  padding-bottom: 0;
}

.icon-list__link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  padding-top: 12px;
}

.icon-list__link--team {
  background-color: #FFFFFF;
  fill: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list__link--team:hover, .icon-list__link--team:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__item {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 32px;
}

.clients__link {
  border: 1px solid #AFB1B8;
  fill: #AFB1B8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196F3;
  fill: #2196F3;
}

.footer-sektion {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-sektion__logo {
  margin-bottom: 20px;
}

.footer-sektion__adress {
  color: #FFFFFF;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 9px;
  margin-left: 0px;
}

.footer-sektion__contakts:not(:last-child) {
  margin-bottom: 9px;
}

.footer-sektion__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sektion__link:hover, .footer-sektion__link:focus {
  color: #2196F3;
}

.footer-sektion > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.join {
  margin-left: 70px;
}

.join__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.subscription {
  margin-left: auto;
}

.subscription__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.subscription__input {
  padding: 15px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  color: #FFFFFF;
}

.subscription__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button--subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 2;
  margin-left: 12px;
  letter-spacing: 0.06em;
  padding: 10px 29px;
  color: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button__icon {
  margin-left: 10px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--subscription:hover .button__icon {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
/*# sourceMappingURL=main.css.map */